html{scroll-behavior: smooth;}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header starts */
header{
    background-color: #037882;
    text-align: center;
}

.logo img{
    height: 75px;
    width: 75px;
    border-radius: 35px;
    border: 2px solid rgb(255, 47, 234 );
    border-style: dotted;
    margin: 0px auto;
    padding: 5px;
    transition: 2s;
}
.logo img:hover{
    transform: rotate(360deg);
}
.links a{
text-decoration: none;
text-transform: uppercase;
font-size: 1rem;
display: block;
color: rgb(255, 255, 255);
line-height: 50px;
border-radius: 10px;
}
.links a:hover{
    background-color: grey;
    color: blue;
    text-decoration: underline 2px solid rgb(0, 0, 255);
}
[class*="col-"] {
    float: left;
    width: 100%;
}

/* header ends */

/* main starts */
.background-image {
    background-image: url(restaurent1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}
.background-content{
    padding: 40px 20px;
    text-align: center;
    
}
.background-content h1{
    width: 100%;
    background-color: rgba(251, 255, 0, 0.543);
    color: rgb(0, 0, 0);
    padding: 40px;
    font-size: 5rem;
    border-radius: 10px;
    font-family: 'Italianno', cursive;
    /* font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif; */
}

.background-content p{
    background-color: rgba(0, 13, 255, 0.658);
    width: 90%;
    padding: 10px;
    font-size: 1.8rem;
    color: aliceblue;
    font-weight: bold;
    margin: 0%auto;
    border-radius: 10px;
}
.background-content input{
    background-color: rgb(0, 255, 8);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.background-content a input:hover{
    background-color: grey;
    color: aliceblue;
}
/* main ends */

/* description starts */
section{
    padding: 20px;
}
.about{
    text-align: center;
    padding: 25px;
    font-size: large;
}
.about h2{
    margin-bottom: 10px;
}
.cards{
    background-color: dimgray;
    margin-top: 30px;
    box-shadow: 0 2px 5px 2px rgba(255, 221, 0, 0.758);
    transition: 0.7s;
    margin: 20px 10px;
}
.cards:hover{
    transform: scale(1.08);
}
.image img{
    width: 100%;
    height: 250px;
    margin-bottom: -1%;
}
.card-details{
    text-align: center;
    color: aliceblue;
}
.card-details h3{
    background-color: rgb(0, 255, 17);
    padding: 15px;
    border-radius: 5px;
    color: black;
}
.card-details>p{
    line-height: 40px;
}

/* description ends */

/* contacts info start */
.info{
    background-color: indigo;
    width: 100%;
    text-align: center;
}


.contacts{
    padding: 20px;
    color: rgb(255, 255, 255);
}
.contacts h3{
    font-size: 2rem;
}
.contacts>p{
    font-size: 1.2rem;
}
/* contacts info end */

/* footer starts */
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.copyright p{
    margin: 50px;
}
.link-button{
    padding: 50px;
}
.link-button li{
    list-style-type: none;
    display: inline;
    margin: 5px;
    
}
.link-button a, button{
    font-size: 2rem;
    color: #ff0000;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link-button a, button:hover{
    background-color: dimgrey;
}
/* footer ends */
.row{
    width: 100%;
    }
.row::after{
    content: '';
    display: table;
    clear: both;
}
  @media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .link-button li{
        margin:10px
    }
  }



  @media only screen and (min-width:992px) {
  /* For desktop: */
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  .logo{
    padding: 20px 40px;
    text-align: left;
}
.links{
    text-align: right;
    padding: 5px;
    padding-right: 20px;
}
.links a{
    display: inline;
    margin: 10px;
}
.links a:hover{
    border-radius: 0%;
} 
.background-image{
    height: 90vh;
    position: relative;
}
.background-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  }


